<header class="sidebar">
    {% if site.title_logo %}
    <a href="/">
        <img src="{{site.title_logo | relative_url}}" alt="{{site.title}}" />
    </a>
    {% endif %}

    {% if site.logo %}
        <img src="{{site.logo | relative_url}}" alt="Logo" />
    {% endif %}

    <p>{{ site.description | default: site.github.project_tagline }}</p>

    <div style="display: flex;">
        <nav class="social-icons" style="margin: auto;">
        {% include default/social-icons.html %}
        </nav>
    </div>

    <!-- DARKMODE -->
    <div class="switch">Dark mode:              
        <span class="inner-switch">OFF</span>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="script.js"></script>
</header>
