<header class="sidebar">
  <a href="/">
    <img
      id="sidebar-title-light"
      src="{{site.title_logo_light | relative_url}}"
      alt="{{site.title}}"
    />
    <img
      id="sidebar-title-dark"
      src="{{site.title_logo_dark | relative_url}}"
      alt="{{site.title}}"
    />
  </a>
  {% if site.logo %}
  <img src="{{site.logo | relative_url}}" id="sidebar-logo" alt="Logo" />
  {% endif %}

  <p id="sidebar-description">{{ site.description | default: site.github.project_tagline }}</p>

  <div style="display: flex">
    <nav class="social-icons" style="margin: auto">{% include default/social-icons.html %}</nav>
  </div>

  <!-- DARKMODE -->
  <div class="switch">
    Dark mode:
    <span class="inner-switch">OFF</span>
  </div>
</header>
