<header class="sidebar">
  {% if site.title_logo %}
  <a href="/">
    <img src="{{site.title_logo | relative_url}}" alt="{{site.title}}" />
  </a>
  {% endif %} {% if site.logo %}
  <img src="{{site.logo | relative_url}}" id="sidebar-logo" alt="Logo" />
  {% endif %}

  <p id="sidebar-description">{{ site.description | default: site.github.project_tagline }}</p>

  <div style="display: flex">
    <nav class="social-icons" style="margin: auto">{% include default/social-icons.html %}</nav>
  </div>

  <!-- DARKMODE -->
  <div class="switch">
    Dark mode:
    <span class="inner-switch">OFF</span>
  </div>
</header>
