<div>
    <div class="column-xs-12 column-md-4">
        <figure class="img-container">
            <img src="/assets/art/PlanetFlare.png">
            <span class="img-content-hover">
                <h2 class="title">PlanetFlare</h2>
                <h3 class="category">Animations</h3>
            </span>
        </figure>
    </div>
    <div class="column-xs-12 column-md-6">
        <figure class="img-container">
            <img src="/assets/art/Sqore.gif" />
            <span class="img-content-hover">
                <h2 class="title">Sqore</h2>
                <h3 class="category">Animations</h3>
            </span>
        </figure>
    </div>
</div>
