<div class="row">
    <div class="column">
        <div class="img-container">
            <img src="/assets/art/People.png" alt="Practice sketching characters of different backgrounds"/>
        </div>
    </div>
    <div class="column">
        <div class="img-container">
            <img src="/assets/art/GoT.png" alt="Sketches of characters from the Game of Thrones TV series"/>
        </div>
    </div>
    <div class="column">
        <div class="img-container">
            <img src="/assets/art/Portrait.png" alt="Watercolour sketch of a couple"/>
        </div>
    </div>
</div>
