<div class="row">
    <div class="column">
        <div class="img-container">
            <img src="/assets/art/Injections.png" alt="Michelle Liang pharmacist injecting flu shot"/>
        </div>
    </div>
    <div class="column">
        <div class="img-container">
            <img src="/assets/art/Xian.png" alt="Zhonglou Bell Drum Tower in Xian China"/>
        </div>
    </div>
    <div class="column">
        <div class="img-container">
            <img src="/assets/art/Crayon.png" alt="Young boy meets a mythical dragon in a cave"/>
        </div>
    </div>
    <div class="column">
        <div class="img-container">
            <img src="/assets/art/Arizona.png" alt="Arizona can on a glass table in the summer"/>
        </div>
    </div>
    <div class="column">
        <div class="img-container">
            <img src="/assets/art/Soul.png" alt="Disney Pixar movie Soul as myself Michelle Liang"/>
        </div>
    </div>
    <div class="column">
        <div class="img-container">
            <img src="/assets/art/RaphSoul.png" alt="Disney Pixar movie Soul as Raphael Koh"/>
        </div>
    </div>
    <div class="column">
        <div class="img-container">
            <img src="/assets/art/Couple.png" alt="A couple dance together in a ballroom" />
        </div>
    </div>
</div>
