<div class="row">
    <div class="column">
        <div class="img-container">
            <img src="/assets/art/Injections.png" alt="Michelle Liang pharmacist injecting flu shot"/>
        </div>
    </div>
    <div class="column">
        <div class="img-container">
            <img src="/assets/art/Arizona.png" alt="Arizona can on a glass table in the summer"/>
        </div>
    </div>
    <div class="column">
        <div class="img-container">
            <img src="/assets/art/Xian.png" alt="Zhonglou Bell Drum Tower in Xian China" />
        </div>
    </div>
</div>
