---
---

@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,700');

//art page CSS

$white: #fff;
$black: #2e2e2e;
$gray: #787878;
$highlight: #ea8478;
$footer: #f7f7f7;

.gallery * {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

.gallery {
  padding: 0 0 4rem 0;
}

.img-container {
  height: 500px;
  z-index: 1;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
}

.img-container img {
    height: 100%;
	object-fit: cover;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    &:hover {
        transform: scale(1.05);
    }
}

@supports (display: grid) {
  .gallery .grid {
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .img-container img:hover {
    transform: none;
  }
  
  .img-container {
    height: 100%;
  }
}
