---
---

.notebook {
    padding: 0px;
    margin: 0;
}
.notebook-container {
    margin: 20px 0;
}

.notebook-title {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 7px;
}

.notebook-subtitle {
    font-size: 1.3em;
    font-weight: 300;
}
