---
---

.notebook {
    padding: 0px;
    margin-bottom: 20px;
}
.notebook-container {
    margin: 20px 0;
}

.notebook-title {
    font-size: 1.5em;
    font-weight: 600;
}

.notebook-subtitle {
    font-size: 1.0em;
    font-weight: 300;
    margin-bottom: 20px;
}

// accordion stuff
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: rgba(49, 140, 231, 0.6);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    border-radius: 23px;
    outline: none;
    transition: 0.4s;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.6); 
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: rgba(49, 140, 231, 0.4);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.6); 
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    background-color: white;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    height: 0;
    padding: 0;
    transition: height 1s, visibility 1s, opacity 0.5s ease-out;
    position: relative;
}

.panel iframe {
    width: 100%;
}

.hider {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0px;
    top: 10px;
    display: flex;
    background-color: white;
}

.hider-text {
    margin: auto;
}
