---
---

@import "{{ site.theme }}";

/*
  Base
*/
  
/*
Menu
*/

.menu {
    position: fixed;
    background-color: rgb(255, 255, 255);
    opacity: 0.8;
    top: 0; 
    width: 100%; 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 4rem;
    display: block;
    height: 80px;
}


.menu-content {
    float: left;
    margin-top: 50px;
}

.menu-content a {
    color: black;
    opacity: 1;
    font-size: 1rem;
    padding-right: 10px;
}

.content {
    margin-top: 60px;
  }

.social-icons {
    float: right;
}

.social-icons a {
    color: black;
}

/*
Social media icons
*/

.fa-envelope {
    padding: 5px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

.fa-envelope:hover {
    color: #ffae00;
}

.fa-twitter {
    padding: 5px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

.fa-twitter:hover {
    color: #39c6fa;
}

.fa-instagram {
    padding: 5px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

.fa-instagram:hover {
    color: #b03dc7;
}

.fa-github {
    padding: 5px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

.fa-github:hover {
    color: #188630;
}

.fa-linkedin {
    padding: 5px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

.fa-linkedin:hover {
    color: #3c6ffd;
}


