---
---

@import '{{ site.theme }}';

/*
  Sidebar
*/

#sidebar-title-dark {
  display: none;
}

// MOBILE VERSION
@media print, screen and (max-width: 960px) {
  .sidebar {
    margin-top: 20px;
  }

  #sidebar-logo:not([data-page='index.md']),
  #sidebar-description:not([data-page='index.md']) {
    display: none;
  }
}

#sidebar-description {
    margin-bottom: 10px;
}

@media print, screen and (max-width: 500px) {
  .sidebar {
    margin-top: 80px;
  }
}


/*
Menu
*/

.menu {
  position: fixed;
  background-color: rgb(255, 255, 255);
  opacity: 0.8;
  top: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: block;
  width: 90%;
  z-index: 3;
}

.menu-content {
  float: left;
  margin-top: 55px;
}

@media print, screen and (max-width: 960px) {
  .menu-content {
    margin-top: 20px;
  }
}

.menu-content a {
  color: black;
  opacity: 1;
  font-size: 1rem;
  padding-right: 10px;
}

.content {
  margin-top: 75px;
}

.social-icons {
  float: right;
}

.social-icons a {
  color: black;
}

/*
Social media icons
*/

.fa-envelope {
  padding: 5px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fa-envelope:hover {
  color: #ffae00;
}

.fa-twitter {
  padding: 5px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fa-twitter:hover {
  color: #39c6fa;
}

.fa-instagram {
  padding: 5px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fa-instagram:hover {
  color: #b03dc7;
}

.fa-github {
  padding: 5px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fa-github:hover {
  color: #188630;
}

.fa-linkedin {
  padding: 5px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fa-linkedin:hover {
  color: #3c6ffd;
}

/*
Parallax
*/

.background {
  position: fixed;
  bottom: 5vh;
  left: 5vw;
  width: 10vh;
  height: 10vh;
  background-image: url(../newwebste/Moon.png);
  background-size: contain;
}

.wrapper {
  height: 200vh;
}

#mliangvector {
  scale: 81%;
}