---
---

@import '{{ site.theme }}';

/*
  Sidebar
*/

#sidebar-title-dark {
  display: none;
}

// MOBILE VERSION
@media print, screen and (max-width: 960px) {
  .sidebar {
    margin-top: 20px;
  }

  #sidebar-logo:not([data-page='index.md']),
  #sidebar-description:not([data-page='index.md']) {
    display: none;
  }
}

#sidebar-description {
    margin-bottom: 10px;
}

@media print, screen and (max-width: 500px) {
  .sidebar {
    margin-top: 80px;
  }
}


/*
Menu
*/

.menu {
  position: fixed;
  background-color: rgba(0,0,0,0.2);
  top: 0;
  padding-top: 0.08rem;
  padding-bottom: 0.08rem;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  z-index: 4;
}

.menu-content {
  float: left;
  margin-left: 50px;
}

@media print, screen and (max-width: 960px) {
  .menu-content {
    padding-top: 20px;
  }
}

.menu-content a {
  color: white;
  opacity: 1;
  font-size: 1rem;
  padding-right: 10px;
}

.content {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 30px;
  background-color: rgba(60, 60, 60,0.4);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6); 
  border: none;
  border-radius: 40px;
}

.social-icons {
  float: right;
}

.social-icons a {
  color: white;
}

/*
Text and links
*/

/* text colour */
h1, h2, h3 {
  color: white;
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;
}

/*
Social media icons
*/

.fa-envelope {
  padding: 5px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fa-envelope:hover {
  color: #ffae00;
}

.fa-square-x-twitter {
  padding: 5px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fa-square-x-twitter:hover {
  color: #39c6fa;
}

.fa-instagram {
  padding: 5px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fa-instagram:hover {
  color: #b03dc7;
}

.fa-github {
  padding: 5px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fa-github:hover {
  color: #188630;
}

.fa-linkedin {
  padding: 5px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fa-linkedin:hover {
  color: #3c6ffd;
}

html, body {
  height: 100%;
}

body {
  background-image: url(../newwebste/Sky.png);
  background-color: #ffffff; 
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
  color: white;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
}

.moon {
  position: fixed;
  bottom: 5vh;
  left: 5vw;
  width: 10vh;
  height: 10vh;
  background-image: url(../newwebste/Moon.png);
  background-size: contain;
  z-index: 3;
}

.wrapper {
  z-index: 3;
  position: relative;
  padding-top: 108px;
}


.mountain {
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(../newwebste/Mountain.png);
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
  height: 100%;
  width: 100%;
  z-index: 2;
}

#mliangvector {
  scale: 81%;
}

