<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% if layout.css %}
    <link rel="stylesheet" href="{{ "/assets/css/" | append: layout.css | append: ".css?v=" | append: site.github.build_revision | relative_url }}">
    {% endif %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5YX6DY89FB"></script>
    {% if layout.js %}
    <script src="{{ "/assets/javascript/" | append: layout.js | append: ".js?v=" | append: site.github.build_revision | relative_url }}"></script>
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-5YX6DY89FB');
    </script>

    <link rel="shortcut icon" type="image/x-icon" href="/assets/homepage/favicon.ico" />
  </head>
  <body>
    <div class="background">
      <img src="/assets/newwebste/MLiangVector.svg" id="mliangvector"> 
    </div>
    <div class="wrapper">
      {% include default/sidebar.html %}

      <section>

        {% include default/menu.html %}
        
        <div class="content">
          {{ content }}
        </div>

      </section>
      
      {% include default/footer.html %}
    </div>
    <script src="{{ "/assets/javascript/index" | append: ".js?v=" | append: site.github.build_revision | relative_url }}"></script>
  </body>
</html>