---
layout: default
css: notes
js: notes
---

<h1>
  {{ page.title }}
</h1>

<section class="notebook">
    {% for note in page.notes %}
    <div class="notebook-container">
        <button class="accordion">
            <div class="notebook-title">
                <span>{{ note.title }}</span>
            </div>
            <div class="notebook-subtitle">
                <span>{{ note.subtitle }}</span>
            </div>
        </button>
        <div class="panel">
            <iframe src="https://drive.google.com/file/d/{{ note.gdrive }}/preview" type="application/pdf" width="500" height="600"></iframe>
            <div class="hider">
                <span class="hider-text">ML</span>
            </div>
        </div>
    </div>
    {% endfor %}
</section>

{{ content }}
