---
layout: default
css: notes
---

<h1>
  {{ page.title }}
</h1>

<section class="notebook">
    <div class="notebook-container">
        <h2>Men's Health (Hypogonadism, AA, BPH, ED) </h2>
        </br>
        <iframe src="https://drive.google.com/file/d/1WWMDpaKDCFQifmkl37oe472tvxpSuRNY/preview" type="application/pdf" width="500" height="350"></iframe>
    </div>
</br>
</br>
    <div class="notebook-container">
        <h2>Venous Thromboembolism (VTE prophylaxis, acute/chronic) </h2>
        </br>
        <iframe src="https://drive.google.com/file/d/14cwbMggjFveSQ-Z2Fpg46CFEerv5ELA3/preview" type="application/pdf" width="500" height="350"></iframe>
    </div>
</section>
</br>
</br>

{{ content }}
