---
layout: default
css: notes
---

<h1>
  {{ page.title }}
</h1>

<section class="notebook">
    <div class="notebook-container">
        <h2>Men's Health (Hypogonadism, AA, BPH, ED) </h2>
        <iframe src="https://drive.google.com/file/d/1WWMDpaKDCFQifmkl37oe472tvxpSuRNY/preview" onload="this.height=this.contentWindow.document.body.scrollHeight;" type="application/pdf" width="500" height="480"></iframe>
    </div>
    <div class="notebook-container">
        <h2>Venous Thromboembolism (VTE prophylaxis, acute/chronic) </h2>
        <iframe src="https://drive.google.com/file/d/14cwbMggjFveSQ-Z2Fpg46CFEerv5ELA3/preview" onload="this.height=this.contentWindow.document.body.scrollHeight;" type="application/pdf" width="500" height="480"></iframe>
    </div>
</section>

{{ content }}
